[[:db/add "mc-tid" :person/first-name "JSON"]
 [:db/add "mc-tid" :person/last-name "McNugget"]
 [:db/add "mc-tid" :person/email "mcnugget@mailinator.com"]

 [:db/add "jj-tid" :person/first-name "Jo"]
 [:db/add "jj-tid" :person/last-name "Jenkins"]
 [:db/add "jj-tid" :person/email "jenkins@mailinator.com"]]